.post { 
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo{
  height: 300px;
  display: flex;
  margin-bottom: 15px;
}
